<footer class="center">
  <div class="measure">
    <small>
      <a href="http://http://math.unm.edu/">Department of Mathematics & Statistics</a> | MSC01 1115 | University of New Mexico | Albuquerque | NM 87131 | $email
    </small>
  </div>
</footer>
{% if site.enable_anchorjs %}<!-- AnchorJS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/3.0.0/anchor.min.js"></script>
<script>
    anchors.options.visible = 'always';
    anchors.add('article h2, article h3, article h4, article h5, article h6');
</script>{% endif %}
