<footer class="center">
  <div class="measure">
    <small>
		Department of Mathematics & Statistics | MSC01 1115 | University of New Mexico | Albuquerque | NM 87131 
		<script>
			document.write(
			'| '+'L'+'&#97;'+'&#115;'+'t'+' '+'&#110;'+'a'+'m'+'e'+
			' '+'&#'+'97'+';'+'&'+'#1'+'1'+'6;'+' '+
			'&#117;'+'n'+'&#109;'+' '+'&#10'+'1;'+'d'+'&#11'+'7;');
		</script>
    </small>
  </div>
</footer>
{% if site.enable_anchorjs %}<!-- AnchorJS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/3.0.0/anchor.min.js"></script>
<script>
    anchors.options.visible = 'always';
    anchors.add('article h2, article h3, article h4, article h5, article h6');
</script>{% endif %}
