@media screen and (min-width: 0) {
  html {
    font-size: $base-font-size;
  }

  blockquote {
    margin-left: $space-3;
    padding: $space-3;
  }

  .social-icons-left {
    text-align: left;
  }

  .social-icons-right {
    text-align: right;
  }
}

@media screen and (min-width: $viewport-small) {
  .site-header {
    text-align: left;
  }

  .site-nav {
    margin-top: 0;
  }

  .site-header .site-title {
    float: left;
  }

  .site-header .site-nav {
    float: right;
    margin-top: .25rem;
  }
}

@media screen and (min-width: $viewport-medium) {
  html {
    font-size: $base-font-size + 1;
  }
}

@media screen and (min-width: $viewport-large) {
  html {
    font-size: $base-font-size + 2;
  }
}

@media screen and (min-width: $viewport-large + 14) {
  em img {
    max-width: $measure-width + 14;
    margin-left: -7em;
  }
}
